<ion-content [fullscreen]="true">
  <div class="main-container">
    @if (painting) {
      <video autoplay="true" [muted]="'true'" loop="true" [poster]="painting.imageSrc">
        <source [src]="painting.videoSrc" type="video/mp4" />
      </video>

      <audio #audio autoplay="true" [src]="painting.audioSrc"
        (loadedmetadata)="onLoadedMetadata()" (play)="onPlaying()" (pause)="onPausing()" (ended)="onEnded()" (timeupdate)="onTimeUpdate()" >
      </audio>

      <div class="overlay">
        <div class="audio-controls">
          <input [style.background]="$timeSliderBg()" type="range" class="time-slider"
            min="0" [max]="$audioDuration()" [value]="$audioCurrentTime()"
            (input)="onTimeSliderChangeEnd($event)" />
          <div class="current-time">{{ $audioCurrentTimeFormatted() }}</div>
          <div class="volume-play-pause-container">
            <div class="volume">
              <ion-icon src="assets/images/sound.svg"></ion-icon>
              <input [style.background]="$volumeSliderBg()" type="range" class="volume-slider"
                min="0" [max]="MAX_VOLUME" [value]="$currentVolume()" [step]="MAX_VOLUME / 100"
                (input)="onVolumeSliderChangeEnd($event)" />
            </div>
            <ion-button class="play-pause-button" fill="clear" mode="md" (click)="togglePlayPause()">
              <ion-icon [src]="'assets/images/' + ($isAudioPlaying() ? 'pause' : 'play') + '.svg'"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
    }

    <ion-button class="back-button" fill="clear" mode="md" (click)="goBack()">
      <ion-icon src="assets/images/arrow.svg"></ion-icon>
    </ion-button>
  </div>
</ion-content>